$theme-colors: (
  'primary': #145bea,
  'secondary': #833bec,
  'success': #1ce1ac,
  'info': #ff7d50,
  'warning': #ffbe0b,
  'danger': #ff007f,
  'light': #c0ccda,
  'dark': #444,
);

$body-color: #ccc;

@import '/node_modules/mdb-ui-kit/src/scss/mdb.free.scss';
@import '/node_modules/bootstrap/scss/bootstrap.scss';




.die_sides_100 {
  font-size: 20px;
  top: 20px;
  left: 40px;
}

.die_sides_20 {
  font-size: 16px;
  top: 26px;
}

.die_sides_12 {
  font-size: 20px;
  top: 21px;
}

.die_sides_10 {
  font-size: 25px;
  top: 16px;
}

.die_sides_8 {
  font-size: 29px;
  top: 18px;
}

.die_sides_6 {
  font-size: 30px;
  top: 13px;
}

.die_sides_4 {
  font-size: 26px;
  top: 24px;
}

.die_sides_2 {
  font-size: 16px;
  top: 36px;
  position: absolute;
  color: #000;
  z-index: 10;
  text-align: center;
  width: 100%;
  text-shadow: 1px 1px #eee, -1px -1px #444;
}

.btn-close {
  color: #ccc !important;
}

#diceContainer {
  height: 35vh;
}

input[type=number] {
  width: 100%;
  text-align: center;
}

a, a:visited{
  color: paleturquoise;
}

.dropdown-item
{
  color: #333 !important;
}

fieldset {
  border: solid 1px #333;
  border-radius: 3px;
  padding: 10px;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

fieldset>legend {
  font-size: .8em;
}

fieldset>legend>span {
  padding-left: 5px;
  vertical-align: middle;
  height: 17px;
  display: inline-block;
}

textarea {
  width: 100%;
  border-radius: 5px;
  background-color: #ccc;
  margin: 3px;
}

.hidden {
  display: none;
}

.cardBody {
  min-height: 180px;
}

.bg-dark .list-group-item {
  color: rgb(204, 204, 204);
}

.control-label {
  float: left;
  font-size: .6em;
  color: #ccc;
}

.roomContainer
{
    background-image: linear-gradient(to right, #ccc , #666);
    border: solid 1px #ccc;
    border-radius: 3px;
    height: 100%;
    width: 100%;
    margin: 2px;
    cursor: pointer;
}
 
.roomContainerActive
{
    background-color: #666;
    border: solid 1px Red;
    border-radius: 3px;
    height: 100%;
    width: 100%;
    margin: 2px;
}
 
.exitNorth
{
    border-top: solid 1px Blue !important;
}
 
.exitSouth
{
    border-bottom: solid 1px Blue !important;
}
 
.exitEast
{
    border-right: solid 1px Blue !important;
}
 
.exitWest
{
    border-left: solid 1px Blue !important;
}
 
.exitUp
{
    background-color: cyan;
}
 
.exitDown
{
    background-color: black;
}
 
.exitNE
{
    border-top: solid 1px Orange !important;
    border-right: solid 1px Orange !important;
}
 
.exitNW
{
    border-top: solid 1px Orange !important;
    border-left: solid 1px Orange !important;
}
 
.exitSE
{
    border-bottom: solid 1px Orange !important;
    border-right: solid 1px Orange !important;
}
 
.exitSW
{
    border-bottom: solid 1px Orange !important;
    border-left: solid 1px Orange !important;
}
