$theme-colors: (
  'primary': #145bea,
  'secondary': #833bec,
  'success': #1ce1ac,
  'info': #ff7d50,
  'warning': #ffbe0b,
  'danger': #ff007f,
  'light': #c0ccda,
  'dark': #444,
);

$body-color: #ccc;

@import '/node_modules/mdb-ui-kit/src/scss/mdb.free.scss';
@import '/node_modules/bootstrap/scss/bootstrap.scss';

.dieNumber {
  position: absolute;
  color: #000;
  z-index: 10;
  text-align: center;
  width: 100%;
  text-shadow: 1px 1px #eee, -1px -1px #444;
}

.dieLeft {
  display: block;
  width: 25px;
  left: -13px;
  position: absolute;
}

.dieRight {
  display: block;
  width: 25px;
  left: 58px;
  position: absolute;
}

.die100 {
  width: 150px !important;
}

.die2 {
  width: 100px !important;
  height: 100px;
}

.die_sides_100 {
  font-size: 20px;
  top: 20px;
  left: 40px;
}

.die_sides_20 {
  font-size: 16px;
  top: 26px;
}

.die_sides_12 {
  font-size: 20px;
  top: 21px;
}

.die_sides_10 {
  font-size: 25px;
  top: 16px;
}

.die_sides_8 {
  font-size: 29px;
  top: 18px;
}

.die_sides_6 {
  font-size: 30px;
  top: 13px;
}

.die_sides_4 {
  font-size: 26px;
  top: 24px;
}

.die_sides_2 {
  font-size: 16px;
  top: 36px;
  position: absolute;
  color: #000;
  z-index: 10;
  text-align: center;
  width: 100%;
  text-shadow: 1px 1px #eee, -1px -1px #444;
}

.btn-close {
  color: #ccc !important;
}

.loginBanner {
  background-image: url('/img/Mystra.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  transition: all .3s;
}

.loginBanner:hover {
  background-image: url('/img/Mystra.jpg');
  background-size: cover;
  filter: none;
  background-position: center;
  -webkit-filter: none;
  transition: all .3s;
}

.campaignCard {
  position: absolute;
  top: 200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 6px #000;
}

#diceContainer {
  height: 35vh;
}

input[type=number] {
  width: 100%;
  text-align: center;
}

fieldset {
  border: solid 1px #333;
  border-radius: 3px;
  padding: 10px;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

fieldset>legend {
  font-size: .8em;
}

fieldset>legend>span {
  padding-left: 5px;
  vertical-align: middle;
  height: 17px;
  display: inline-block;
}

textarea {
  width: 100%;
  border-radius: 5px;
  background-color: #ccc;
  margin: 3px;
}

.hidden {
  display: none;
}

.cardBody {
  min-height: 180px;
}

.bg-dark .list-group-item {
  color: rgb(204, 204, 204);
}

.control-label {
  float: left;
  font-size: .6em;
  color: #ccc;
}